{% extends "auctions/layout.html" %}

{% block title %}
    {{ Watchlist }}
{% endblock %}

{% block body %}
    <h3><b>Watchlist</b></h3>
    <div class="form-row">
        <div class="col-md-4 col-lg-4">
            {% if watchlist %}
                <ul>
                {% for i in watchlist %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listing' id=i.listing.id %}">{{ i.listing.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Your don't have listings in your Watchlist yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}